# SPDX-License-Identifier: Apache-2.0

config BOARD_SPARKFUN_THINGPLUS_RP2350
	select SOC_RP2350A_M33 if BOARD_SPARKFUN_THINGPLUS_RP2350_RP2350A_M33 || \
				   BOARD_SPARKFUN_THINGPLUS_RP2350_RP2350A_M33_W
